<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Plataforma I</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom fonts for this template-->
    <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static',filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{{url_for('static',filename='adminlte/dist/css/adminlte.min.css')}}">
    <!-- CSS Propio -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="http://plataform-int-edu.herokuapp.com/inicio" class="nav-link">Inicio</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                         <span class="caret"></span>
                    </a>
                </li>
            </ul>
            <!-- Right navbar links -->
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="http://plataform-int-edu.herokuapp.com/inicio" class="brand-link">
                <img src="../static/adminlte/dist/img/plataformaI.png">
                <span class="brand-text font-weight-light">Plataforma I</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                       with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="http://plataform-int-edu.herokuapp.com/inicio" class="nav-link">
                                <img src="../static/adminlte/dist/img/admin.png">
                                <p>Administrar mi perfil</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="https://plataform-int-edu.herokuapp.com/experiencia" class="nav-link btn-sm">
                                <img src="../static/adminlte/dist/img/Registro.png">
                                <p>Nueva experiencia docente</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://artemio.pythonanywhere.com" class="nav-link active" aria-pressed="true">
                                <img src="../static/adminlte/dist/img/modulo.png">
                                <p>Modulo recomendador</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex mb-4 justify-content-between" >
                    <h1 class="h3 mb-0 text-gray-800">Modulo recomendador</h1>
                    <button class="btn btn-success dropdown-toggle" onclick="viewValid()" role="button" data-bs-toggle="dropdown"  aria-pressed="true">Cargar archivo</button>
                </div>
                    <!-- Cambiar arvhivo -->
                    <div class="d-flex row flex-row-reverse">
                        <form method="POST" enctype="multipart/form-data" class="row">
                            {{form.hidden_tag()}}
                            <!-- Cargar arvhivo -->
                            <div class="from-file col-6">
                                <div hidden class="form-control-file btn btn-primary active" id="upload_file">
                                    <div class="input" id="file_data">
                                        {{form.file()}}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                                            <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="button-upload col-6">
                                <div hidden class="btn btn-success px-3 submit-file" id="save_file">
                                    {{form.submit()}}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-arrow-up-fill" viewBox="0 0 16 16">
                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.354 9.854a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 8.707V12.5a.5.5 0 0 1-1 0V8.707L6.354 9.854z"/>
                                    </svg>
                                </div>
                            </div>
                        </form>

                        <!-- Validar usuario -->
                        <div hidden class="input-group mb-3 col-5" id="valid_user">
                            <input id="password" type="password" class="form-control" placeholder="Ingrese contraseña de administrador" aria-label="Example text with button addon" aria-describedby="button-addon1">
                            <button class="btn btn-primary active" type="button" onclick="validUser()" id="button-addon1">Ingresar</button>
                            <small hidden class="text-success col-12" id="messageValid"></small>
                        </div>
                    </div>
                <div class="d-flex justify-content-end"><h4 class="text-success" id="message">{{message}}</h4></div>
                <!-- Selectores para el filtrado tipo - estrategia  -->
                <div class="row" style="justify-content:center">
                    <select style="margin-right:20px" id="tipo_estra" placeholder="Tipo de estrategia" class="form-control form-gape col-3">
                        <option value="" selected>Sleccione tipo de estrategia</option>
                        {% for tipo_estra in tipo_estras %}
                            <option value="{{tipo_estra.0}}">{{tipo_estra.1}}</option>
                        {% endfor %}
                    </select>
                    <select style="margin-right:20px" id="estra" placeholder="Estrategia" class="form-control form-gape col-3">
                    </select>
                    <button class="btn btn-primary active" onclick="prediction()" role="button" data-bs-toggle="button" aria-pressed="true">Recomendar</button>
                </div>

                <!-- Content Row -->
                <div class="row" style="justify-content:center; margin-top:20px">
                    <!-- Content Column -->
                    <div class="card shadow mb-12">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Herramientas</h6>
                        </div>
                        <!-- Histograma -->
                        <div class="card-body">
                            <div class="chart-bar">
                                <canvas id="myBarChart" style="width: 730px; height: 320px"></canvas>
                            </div>
                            <hr>
                            Porcentaje de efectividad del uso de diferentes herramientas según la estrategia
                        </div>
                    </div>
                </div>
                <!-- Footer -->
                <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <!-- /.content -->
            <!-- /.content-wrapper -->
    <footer class="main-footer card-info">
        <div class="float-right d-none d-sm-block">
            Convenio Educativo Internacional De Universidades JDC - ITESA
        </div>

        <ul class="list-info">
            <li>Información de contacto: </li>
            <li>Teléfonos: <a href="tel:+573176402399">+573176402399</a></li>
            <li></i><a href="tel:+573168771852">+573168771852</a></li>
            <li>Correo electrónico: <span id="cloak03ae3d39bfd7df417897770064589ca8"><a
                        href="mailto:info@jdc.edu.co">info@jdc.edu.co</a></span>
                <script type="text/javascript">
                    document.getElementById('cloak03ae3d39bfd7df417897770064589ca8').innerHTML = '';
                    var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                    var path = 'hr' + 'ef' + '=';
                    var addy03ae3d39bfd7df417897770064589ca8 = '&#105;nf&#111;' + '&#64;';
                    addy03ae3d39bfd7df417897770064589ca8 = addy03ae3d39bfd7df417897770064589ca8 + 'jdc' + '&#46;' + '&#101;d&#117;' + '&#46;' + 'c&#111;';
                    var addy_text03ae3d39bfd7df417897770064589ca8 = '&#105;nf&#111;' + '&#64;' + 'jdc' + '&#46;' + '&#101;d&#117;' + '&#46;' + 'c&#111;';
                    document.getElementById('cloak03ae3d39bfd7df417897770064589ca8').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy03ae3d39bfd7df417897770064589ca8 + '\'>' + addy_text03ae3d39bfd7df417897770064589ca8 + '<\/a>';
                </script>
            </li>
        </ul>
    </footer>
    </div>


    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- End of Topbar -->

    <!-- Begin Page Content -->


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Page level plugins -->
    <script src="../static/vendor/chart.js/Chart.min.js"></script>

    <script src="../static/adminlte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
    <script src="../static/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
    <script src="../static/adminlte/dist/js/adminlte.min.js"></script>
<!-- Selecor de estrategias y herramientas -->
    <script src="../static/js/selector.js"></script>

</body>

</html>